/* Index page */

.index-general {
    background-color: black;
    font-family: fantasy, Impact, sans-serif;
}

.index-heading1 {
    font-size: 120px;
    color: snow;
    text-align: center;
}

.index-list {
    list-style: none;
    color: white;
    text-align: center;
}

/* Pages */

.pages-general {
    background-color: black;
    color: white;
}

.pages-heading1 {
    text-align: center;
    color: crimson;
    font-weight: bold;
    font-size: 62px;
}

div {
    text-align: center ;
}